# ASSIGNMENT_04

# 1. What exactly is []?

Answer -

[ ] is a empty list.

In [1]:
my_list = [ ]

# 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

Answer -

In [13]:
spam = [2, 4, 6, 8, 10]  # Given List 

spam[2] = 'hello'  # Assigning 'hello' to the third value (index 2)

print ( spam )

[2, 4, 'hello', 8, 10]

# Condition - Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

# 3. What is the value of spam[int(int('3' * 2) / 11)]?

Answer -

In [15]:
spam = ['a', 'b','c','d']

spam[int(int('3' * 2) / 11)]  # spam[int(33/11)] = spam[3]

'd'

# 4. What is the value of spam[-1]?

Answer -

In [17]:
spam = ['a', 'b','c','d']
spam[-1]

'd'

# 5. What is the value of spam[:2]?
spam = ['a', 'b','c','d']

Answer -

In [18]:
spam = ['a', 'b','c','d']

spam[:2]

['a', 'b']

# Condition - Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

# 6. What is the value of bacon.index('cat')?

Answer -

In [22]:
# it returns the index of first occurrence of 'cat'

bacon = [3.14, 'cat', 11, 'cat', True]

bacon.index('cat')

1

# 7. How does bacon.append(99) change the look of the list value in bacon?

Answer -

In [27]:
# append adds the item at the end of the list

bacon = [3.14, 'cat', 11, 'cat', True]

bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

# 8. How does bacon.remove('cat') change the look of the list in bacon?

Answer -

In [28]:
# remove first occurrence of item

bacon = [3.14, 'cat', 11, 'cat', True]

bacon.remove('cat') 
bacon

[3.14, 11, 'cat', True]

# 9. What are the list concatenation and list replication operators?

Answer -

In Python, the list concatenation operator is the plus sign (+), which is used to combine two or more lists into a single list. 

When you use the plus operator between two lists, it creates a new list that contains all the elements from both lists in the order they appear.

In [29]:
list1 = [1, 2, 3]

list2 = [4, 5, 6]

concatenated_list = list1 + list2

print(concatenated_list)

[1, 2, 3, 4, 5, 6]

The list replication operator is the asterisk (*) symbol, which is used to create a new list by repeating the elements of an existing list a certain number of times. 

It allows you to easily create a new list with multiple copies of the same elements.

In [30]:
list1 = [1, 2, 3]

replicated_list = list1 * 3

print(replicated_list)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# 10. What is difference between the list methods append() and insert()?

Answer -

append() method :

Functionality - Adds an item to the end of the list.

Syntax - list.append(item)

In [31]:
my_list = [1, 2, 3]

my_list.append(4)

print(my_list)

[1, 2, 3, 4]

insert() method :

Functionality - Inserts an item at a specified position in the list.

Syntax - list.insert(index, item)

In [32]:
my_list = [1, 2, 3]

my_list.insert(1, 4)

print(my_list)

[1, 4, 2, 3]

# 11. What are the two methods for removing items from a list?

Answer -

remove() method :

Functionality - Removes the first occurrence of the specified item from the list.

Syntax - list.remove(item)

In [33]:
my_list = [1, 2, 3, 2]

my_list.remove(2)

print(my_list)

[1, 3, 2]

pop() method :

Functionality - Removes and returns the item at the specified index.

Syntax - list.pop(index)

In [34]:
my_list = [1, 2, 3]

item = my_list.pop(1)

print(my_list)
print(item)

[1, 3]
2

# 12. Describe how list values and string values are identical.

Answer -

list values and string values are identical because,

    Both lists and strings can be passed to len().

    Have indexes and slices.

    Can be used in for loops.

    Can be concatenated or replicated.

    Can be used with the in and not in operators.

# 13. What's the difference between tuples and lists?

Answer -

lists : 

A list in python is an orderd collection ( Also know as sequence ) of items. 

lists are "Mutable" which means their elements can be cahnged ( added, modified or deleted ) aafter they are created.

Creation - A list is created by placing items (elements) inside brackets [ ], seperated by commas.

In [37]:
fruits = [ "Apple", "Bananas", "Grapes" ]

print ( fruits )

['Apple', 'Bananas', 'Grapes']

tuples :

A tuples in python is similar to a list but,

Tuples are "Immutable" which means their elements can not be cahnged ( added, modified or deleted ) aafter they are created.

Creation - A tuples is created by placing items (elements) inside parentheses ( ), seperated by commas.

In [38]:
my_tuples = (1, 2, 3, 4, 5)

print (my_tuples)

(1, 2, 3, 4, 5)

In short,

Lists : are mutable - they can have values added, removed, or changed. lists use the square brackets, [ a ]

Tuples : are immutable; they cannot be changed at all. Tuples are written using parentheses, ( a )

# 14. How do you type a tuple value that only contains the integer 42?

Answer -

To create a tuple value that only contains the integer 42, you should enclose the value within parentheses().

In [41]:
tuple = (42,)
tuple

(42,)

# 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

Answer -

To convert a list value into a tuple, you can use the tuple() function.

In [58]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)

TypeError: 'tuple' object is not callable

To convert a tuple value into a list, you can use the list() function.

In [55]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3]

# 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Answer -

They contain references or pointers to the list objects.

They contain references to list values

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?

Answer -

The copy.copy() function will do a shallow copy of a list.

The copy.deepcopy() function will do a deep copy of a list. only copy.deepcopy() will duplicate any lists inside the list